body {
  height: 3000px;
  font-weight: bolder;
  font-family: "Montserrat";
}

.jumbotron {
  padding-top: 12rem;
  background-color: #fde44c;
}

#projects {
  background-color: #fde44c;
}

section {
  padding-top: 5rem;
}

.home1 {
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #f36756;
  font-size: 15px;
  line-height: 130px;
  text-align: center;
  text-decoration: none;
  color: black;
}
