body {
  height: 3000px;
  font-weight: bolder;
  font-family: "Montserrat";
}

.jumbotron {
  padding-top: 12rem;
  background-color: #fde44c;
}

#projects {
  background-color: #fde44c;
}

section {
  padding-top: 5rem;
}

.home1 {
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid red;
  font-size: 27px;
  line-height: 65px;
  text-align: center;
}
